<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./header'); %>
    <div class="container row">
      <div class="col">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <div class="container row">
              <h5 class="card-title col-auto">
                <a href="/"><%= user.user_name %></a>
              </h5>
              <% if (my_user_id !== user.id) { %> <% if (followList !== null &&
              followList.includes(user.id)) { %>
              <form action="/profile/unfollow" method="post">
                <input
                  type="hidden"
                  name="follow_user_id"
                  value="<%= user.id %>"
                />
                <input
                  class="btn btn-primary col-12"
                  type="submit"
                  value="UnFollow"
                />
              </form>
              <% } else { %>
              <form action="/profile/follow" method="post">
                <input
                  type="hidden"
                  name="follow_user_id"
                  value="<%= user.id %>"
                />
                <input
                  class="btn btn-primary col-12"
                  type="submit"
                  value="Follow"
                />
              </form>
              <% } %> <% } %>
            </div>

            <p>post: <%= postCount.postCount %>件</p>
            <div class="container row">
              <div></div>
              <p class="col"><%= followCount.count %>follows</p>
              <p class="col"><%= followerCount.count %>followers</p>
            </div>
            <p class="card-text">
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h1><%= user.user_name %>さんの投稿</h1>
        <%- include('./posts') %>
      </div>
    </div>
  </body>
</html>
